.contt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1000px;
    margin: 10px;
    overflow-x: hidden;
    padding: 10px;
    
}
.btn {
    min-width: 150px;
    margin: 10px 9px;
    background-color: #8a80e7;
    color: #fff;
    border-radius: 2px;
}
html {
    background-color: antiquewhite;
    overflow-x: hidden;
    overflow-y: hidden;
}